.form {
  display: flex;
  align-items: center;
}

.recipeName {
  font-size: 1.17em;
  font-weight: bold;
}

.saveButton {
  margin-left: 0.5em;
  color: white;
  background: #1a1a90;
  border: none;
  border-radius: 5px;
  padding: 0.25em 0.75em;
  /* background: grey; */
  /* border: none; */
  /* width: 30px; */
  /* height: 30px; */
}

.saveIcon {
  color: #056205;
}
