.buttons {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.deleteIcon {
  color: red;
  width: 20px;
  height: 20px;
}

.editIcon {
  color: #804c00;
  width: 20px;
  height: 20px;
}

.cancelIcon {
  width: 20px;
  height: 20px;
}

.deleteButton,
.editButton {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  padding: 0;
  width: 30px;
  height: 30px;
}
