.form {
  display: flex;
  align-items: center;
}

.recipeName {
  font-size: 1.17em;
  font-weight: bold;
}

.saveButton {
  background: none;
  border: none;
  width: 30px;
  height: 30px;
}

.saveIcon {
  color: #056205;
}
