.form {
  display: flex;
  align-items: center;
}

.recipeName {
  font-size: 1.17em;
  font-weight: bold;
}

.saveButton {
  margin-left: 0.5em;
  width: 30px;
  height: 30px;
}

/* .saveIcon {
  color: #056205;
} */

.saveIcon {
  color: white;
  width: 20px;
  height: 20px;
}
